$base-color: #E95419;
$hover-color: #B2A285;

#comment-button {
    background-color: #E95419;
    &:hover {
        background-color: #B2A285;
    }
}

#publish-button {
    background-color: #E95419;
    &:hover {
        background-color: #B2A285;
    }
}

#update-button{
    background-color: #E95419;
    &:hover {
        background-color: #B2A285;
    }
}